<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <script src="{{ url_for('static', filename='elementManager.js') }}"></script>
   <script src="{{ url_for('static', filename='extractionData.js') }}"></script>
   <script src="{{ url_for('static', filename='Popup.js') }}"></script>
   <script src="{{ url_for('static', filename='metrics.js') }}"></script>
   <script src="{{ url_for('static', filename='fieldStates.js') }}"></script>
   <script src="{{ url_for('static', filename='landingJS.js') }}"></script>
   <script src="{{ url_for('static', filename='main.js') }}"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script type="text/javascript">
     $(document).ready(function () {
            initMain();
            landingJS.onloadSetToggle()
     });
   </script>

   <title>Welcome</title>
</head>
<body>
<h2>Study Description and Consent</h2>


    <div class="container">
      <div id="Landing-Container">
         <div id="Landing-Text">
             <span> Involvement in this project is voluntary.  It is expected to take around 30 minutes to complete. <br><br>

                    Please only use buttons within the web pages, using other methods of navigation may result in loss of the pages that you have completed.  <br><br>

                    Please complete all scenarios in a single attempt, any completed pairs of scenarios will be included in subsequent analysis. <br><br>

                    No clinical decision making is assessed in the study, all information that is required to be recorded is provided at the top of each screen .  The study aims to quantitatively assess how design of user interface of a simulated health record system may impact quality and safety of the record.<br><br>

                    You will be presented with <strong>10 scenarios</strong> relating to provision of neuraxial anaesthesia for obstetric surgery.  These scenarios will be <strong>presented twice</strong>, with empty fields or with some prefilled information.  The order of presentation of these will be randomised for each participant.  A brief clinical scenario will be present at the top of the screen which includes all information expected to be entered.<br><br>

                    Participants are expected to have at least 2 years experience in the provision of neuraxial anaesthesia in obstetrics.<br><br>

                    The information gathered within the study is intended for submission as part of an MSc dissertation.  It may also be submitted for academic publication/presentation.  No identifiable data relating to your involvement will be retained.<br><br>

                    We would like you to allocate similar level of attention to this task as might be expected for completion of similar records during an anaesthetic case and considering speed and accuracy to be your priority. <br><br><br>
             </span>
         </div>

          <div id="inclusion-heading">
            <h3> <span> Confirmation of Consent and Eligibility </span> </h3>
         </div>

         <div id="confirmation-text">
            <span> <br> I consent to my involvement in this study and I have at least 2 years experience in obstetric neuraxial anaesthesia  </span> <br><br>
         </div>

          <div id="eligibility-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input type="checkbox" value="1" id="elig-check" onclick="landingJS.funcChangeButton()"/> <span id="eligCheckText" >no</span>
               </label>
            </div>
         </div>

          <div id="comment-div">
            <span id = "comment"> </span>
          </div>

          <div id="agree-div">
              <button class="positive-button" id="agree-button" onclick="extractionData.eligValidation()"> <span>Agree and proceed</span> </button>
          </div>

         <div id="decline-div">
              <button class="negative-button" id="decline-button" onclick="extractionData.toExit()">  <span>Decline/Exit</span> </button>
         </div>

         <div id="fill2">
            <span> <br> </span>
          </div>

         <div id="contact-text">
            <h4>Contact Information</h4>
            <span>Matt Julian - matthewdavid.julian@postgrad.manchester.ac.uk </span> <br>
            <span>Alan Davies - alan.davies-2@manchester.ac.uk</span> <br>
            <span>Phone - +44 (0)161 275 5147</span>
         </div>

      </div>
    </div>


</body>

</html>