<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <script src="{{ url_for('static', filename='scoringForm.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <title>Thank You</title>
</head>

<body>
    <div class="container">
      <div id="less-thanks-Container">
         <div id="less-thanks-Text">
             <span>Thank you for considering participating in the study, if you later decide you would like to take part please revisit the site<br><br>

                    Matt Julian and Alan Davies (study team)<br><br>

                    Contact details <br>


             </span>
         </div>

      </div>
    </div>


</body>

</html>