<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <script src="{{ url_for('static', filename='elementManager.js') }}"></script>
   <script src="{{ url_for('static', filename='extractionData.js') }}"></script>
   <script src="{{ url_for('static', filename='Popup.js') }}"></script>
   <script src="{{ url_for('static', filename='metrics.js') }}"></script>
   <script src="{{ url_for('static', filename='fieldStates.js') }}"></script>
   <script src="{{ url_for('static', filename='landingJS.js') }}"></script>
   <script src="{{ url_for('static', filename='main.js') }}"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
     $(document).ready(function () {
         initMain();
         extractionData.setScenario();
         document.getElementById("scenarios-screen").addEventListener('mousedown',function(){metrics.processClicks()})
        });
  </script>
   <title>Neuraxial Entry</title>
</head>
<body id="scenarios-screen">
   <div class="container">
      <div id="Scenario-Container">
         <div id="Scenario-Text">
            <span id="server-data-text"></span>
            <h2>Scenario <strong id="scenario-name"></strong></h2>
            <h5>Indication for section, relevant clinical details and urgency:  </h5>
            <span id="indications-text"></span>
            <h5>Other details</h5>
            <span id="other-text"></span>
         </div>

         <div id="Base-Assumption">
            <h5>If no detail provided, assume:</h5>
            <span>
            Spinal<br>
            All pre-procedure checks complete<br>
            All anaesthetic consent selected (omitting 'see anaesthetic consent' and 'See Consent Form')<br>
            Block Sitting<br>
            0.5% chlorhex, allowed to dry, gown, glove, hat, drapes, gloves, hand hygiene, mask<br>
            All monitoring<br>
            Landmark<br>
            Midline<br>
            Below L2/3<br>
            non-cutting needle - 25G, 90mm<br>
            1st pass<br>
            1% lidocaine to skin<br>
            0.5% hyperbaric bupivacaine volume 2-3mls<br>
            diamorphine 300mcg<br>
            Block T2 cold, T5 light touch<br>
            Procedure well tolerated under block
            </span>
         </div>

         <div id="line1">
            <hr>
         </div>

      </div>

      <div id="Neuraxial-Anaesthesia">
         <div id="Neuraxial-Anaesthesia-Title">
            <h3> Neuraxial Anaesthesia </h3>
         </div>

         <div id="spinal-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="neuraxial-radio" type="radio" value="1" id="spinal-checkbox-input" name="neuraxial-type"> <span>Spinal</span>
               </label>
            </div>
         </div>

         <div id="epidural-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="neuraxial-radio" type="radio" value="1" id="epidural-checkbox-input" name="neuraxial-type"><span>Epidural</span>
               </label>
            </div>
         </div>

         <div id="cse-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="neuraxial-radio" type="radio" value="1" id="cse-checkbox-input" name="neuraxial-type"><span>C.S.E</span>
               </label>
            </div>
         </div>

         <div id="spinal-catheter-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="neuraxial-radio" type="radio" value="1" id="spinal-catheter-checkbox-input" name="neuraxial-type"><span>Spinal Catheter</span>
               </label>
            </div>
         </div>

         <div id="fill1"> </div>

         <div id="Pre-Procedure-Title">
            <h6> Pre-Procedure Checks </h6>
         </div>

         <div id="identity-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="identity-check"><span> Identity </span>
               </label>
            </div>
         </div>

         <div id="cannula-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="cannula-check"><span> IV Cannula </span>
               </label>
            </div>
         </div>

         <div id="monitors-eqpt-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="monitors-eqpt-check"><span> Monitors and Eqpt Checked </span>
               </label>
            </div>
         </div>

         <div id="surgical-consent-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="surgical-consent-check"><span> Surgical Consent Confirmed </span>
               </label>
            </div>
         </div>

         <div id="oxygen-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="oxygen-check"><span> Oxygen Available </span>
               </label>
            </div>
         </div>

         <div id="suction-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="suction-check"><span> Suction Available </span>
               </label>
            </div>
         </div>

          <div id="emergency-drugs-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="emergency-drugs-check"><span> Emergency Drugs Available </span>
               </label>
            </div>
         </div>

         <div id="site-marked-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="site-marked-check"><span> Surgical Site Marked checked or N/A </span>
               </label>
            </div>
         </div>

         <div id="anaesthetic-consent-Title">
            <h6> Anaesthetic Consent </h6>
         </div>

         <div id="epidural-abcess-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="epidural-abscess-check"><span> Epidural Abscess </span>
               </label>
            </div>
         </div>

         <div id="PDPH-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="PDPH-check"><span> PDPH 1:100-500 </span>
               </label>
            </div>
         </div>

         <div id="haematoma-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="haematoma-check"><span> Haematoma </span>
               </label>
            </div>
         </div>

         <div id="infection-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="infection-check"><span> Infection </span>
               </label>
            </div>
         </div>

         <div id="temp-nerve-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected pre-procedure scenario-check" type="checkbox" value="1" id="temp-nerve-check"><span> Temporary Nerve Damage 1:1000 </span>
               </label>
            </div>
         </div>

         <div id="perm-nerve-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected consent scenario-check" type="checkbox" value="1" id="perm-nerve-check"><span> Permanent Nerve Damage 1:23500-50500 </span>
               </label>
            </div>
         </div>

         <div id="paraplegia-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected  scenario-check" type="checkbox" value="1" id="paraplegia-check"><span> Paraplegia/Death 1/54500-141500 </span>
               </label>
            </div>
         </div>

         <div id="LAST-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected  scenario-check" type="checkbox" value="1" id="LAST-check"><span> LA Systemic Toxicity </span>
               </label>
            </div>
         </div>

         <div id="pain-failure-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected  scenario-check" type="checkbox" value="1" id="pain-failure-check"><span> Pain/Failure </span>
               </label>
            </div>
         </div>

         <div id="conversion-GA-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected  scenario-check" type="checkbox" value="1" id="conversion-GA-check"><span> Conversion to GA </span>
               </label>
            </div>
         </div>

         <div id="motor-Block-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected  scenario-check" type="checkbox" value="1" id="motor-Block-check"><span> Motor Block </span>
               </label>
            </div>
         </div>

         <div id="urinary-retention-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected  scenario-check" type="checkbox" value="1" id="urinary-retention-check"><span> Urinary Retention/Catheter </span>
               </label>
            </div>
         </div>

         <div id="hypotension-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected  scenario-check" type="checkbox" value="1" id="hypotension-check"><span> Hypotension </span>
               </label>
            </div>
         </div>

         <div id="nausea-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected  scenario-check" type="checkbox" value="1" id="nausea-check"><span> Nausea/Vomitting </span>
               </label>
            </div>
         </div>

         <div id="itching-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected  scenario-check" type="checkbox" value="1" id="itching-check"><span> Itching </span>
               </label>
            </div>
         </div>

         <div id="rf-to-anaes-assess-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected  scenario-check" type="checkbox" value="1" id="rf-to-anaes-assess-check"><span> See Anaesthetic Assessment </span>
               </label>
            </div>
         </div>

         <div id="rf-consent-form-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected  scenario-check" type="checkbox" value="1" id="rf-consent-form-check"><span> See Consent Form </span>
               </label>
            </div>
         </div>

         <div id="spinal-block-Title">
            <h6> Spinal Block </h6>
         </div>

         <div id="position-Title">
            <span> Position </span>
         </div>

         <div id="left-lateral-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected scenario-check" type="checkbox" value="1" id="left-lateral-check"><span> Left Lateral </span>
               </label>
            </div>
         </div>

         <div id="right-lateral-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected scenario-check" type="checkbox" value="1" id="right-lateral-check"><span> Right Lateral </span>
               </label>
            </div>
         </div>

         <div id="sitting-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="sitting-check"><span> Sitting </span>
               </label>
            </div>
         </div>

         <div id="prep-Title">
            <span> Prep </span>
         </div>

         <div id="alcohol-swab-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected scenario-check" type="checkbox" value="1" id="alcohol-swab-check"><span> Alcohol Swab </span>
               </label>
            </div>
         </div>

         <div id="betadine-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected scenario-check" type="checkbox" value="1" id="betadine-check"><span> Betadine </span>
               </label>
            </div>
         </div>

         <div id="betasept-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected scenario-check" type="checkbox" value="1" id="betasept-check"><span> Betasept </span>
               </label>
            </div>
         </div>

         <div id="chlorhex-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="chlorhex-check"><span> 0.5% Chlorhex </span>
               </label>
            </div>
         </div>

         <div id="allowed-to-dry-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="allowed-to-dry-check"><span> Allowed to dry </span>
               </label>
            </div>
         </div>

         <div id="gown-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="gown-check"><span> Gown </span>
               </label>
            </div>
         </div>

         <div id="hat-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="hat-check"><span> Hat </span>
               </label>
            </div>
         </div>

         <div id="drape-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="drape-check"><span> Drape </span>
               </label>
            </div>
         </div>

         <div id="gloves-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="gloves-check"><span> Gloves </span>
               </label>
            </div>
         </div>

         <div id="hand-hygiene-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="hand-hygiene-check"><span> Hand Hygiene </span>
               </label>
            </div>
         </div>

         <div id="mask-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="mask-check"><span> Mask </span>
               </label>
            </div>
         </div>

         <div id="monitoring-Title">
            <span> Monitoring </span>
         </div>

         <div id="pulse-ox-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="pulse-ox-check"><span> Continuous Pulse Oximetry </span>
               </label>
            </div>
         </div>

         <div id="etco2-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="etco2-check"><span> ETCO2 </span>
               </label>
            </div>
         </div>

         <div id="ecg-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="ecg-check"><span> ECG </span>
               </label>
            </div>
         </div>

         <div id="level-id-Title">
            <span> Level Id </span>
         </div>

         <div id="landmark-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="level-id scenario-check" type="checkbox" value="1" id="landmark-check"><span> Landmark </span>
               </label>
            </div>
         </div>

         <div id="ultrasound-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="level-id scenario-check" type="checkbox" value="1" id="ultrasound-check"><span> Ultrasound </span>
               </label>
            </div>
         </div>

         <div id="level-comment-text">
            <textarea class="comment-text" type="text" id="level-comment" placeholder="Comments"></textarea>
         </div>

         <div id="approach-Title">
            <span> Approach </span>
         </div>

         <div id="left-paramedian-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected scenario-check" type="checkbox" value="1" id="left-paramedian-check"><span> Left Paramedian </span>
               </label>
            </div>
         </div>

         <div id="midline-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="midline-check"><span> Midline </span>
               </label>
            </div>
         </div>

         <div id="right-paramedian-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected  scenario-check" type="checkbox" value="1" id="right-paramedian-check"><span> Right Paramedian </span>
               </label>
            </div>
         </div>

         <div id="level-Title">
            <span> Level </span>
         </div>

         <div id="l1-2-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected needle-level scenario-check" type="checkbox" value="1" id="l1-2-check"><span> L1-2 </span>
               </label>
            </div>
         </div>

         <div id="l2-3-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="needle-level-acceptable scenario-check" type="checkbox" value="1" id="l2-3-check"><span> L2-3 </span>
               </label>
            </div>
         </div>

         <div id="l3-4-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="needle-level-acceptable scenario-check" type="checkbox" value="1" id="l3-4-check"><span> L3-4 </span>
               </label>
            </div>
         </div>

         <div id="l4-5-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="needle-level-acceptable scenario-check" type="checkbox" value="1" id="l4-5-check"><span> L4-5 </span>
               </label>
            </div>
         </div>

         <div id="l5-s1-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="needle-level-acceptable scenario-check" type="checkbox" value="1" id="l5-s1-check"><span> L5-S1 </span>
               </label>
            </div>
         </div>

         <div id="needle-Title">
            <span> Needle </span>
         </div>

         <div id="non-cutting-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="non-cutting-check"><span> non-cutting </span>
               </label>
            </div>
         </div>

         <div id="cutting-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected scenario-check" type="checkbox" value="1" id="cutting-check"><span> cutting </span>
               </label>
            </div>
         </div>

         <div id="short-bevel-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected scenario-check" type="checkbox" value="1" id="short-bevel-check"><span> short-bevel </span>
               </label>
            </div>
         </div>

         <div id="long-bevel-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected scenario-check" type="checkbox" value="1" id="long-bevel-check"><span> long-bevel </span>
               </label>
            </div>
         </div>

         <div id="tuohy-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="tuohy scenario-check" type="checkbox" value="1" id="tuohy-check"><span> Tuohy </span>
               </label>
            </div>
         </div>

         <div id="gauge-Title">
            <span> Gauge </span>
         </div>

         <div id="twenty-two-g-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected scenario-check" type="checkbox" value="1" id="twenty-two-g-check"><span> 22G </span>
               </label>
            </div>
         </div>

         <div id="twenty-five-g-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="twenty-five-g-check"><span> 25G </span>
               </label>
            </div>
         </div>

         <div id="twenty-nine-g-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected scenario-check" type="checkbox" value="1" id="twenty-nine-g-check"><span> 29G </span>
               </label>
            </div>
         </div>

         <div id="needle-comment-text">
            <textarea class="comment-text" type="text" id="needle-comment" placeholder="Gauge" id="needle-comment"></textarea>
         </div>

         <div id="length-Title">
            <span> Length </span>
         </div>

         <div id="ninetymm-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="length-needle scenario-check" type="checkbox" value="1" id="ninetymm-check"><span> 90mm </span>
               </label>
            </div>
         </div>

         <div id="one-five-six-mm-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="length-needle scenario-check" type="checkbox" value="1" id="one-five-six-mm-check"><span> 156mm </span>
               </label>
            </div>
         </div>

         <div id="length-comment-text">
         <textarea class="comment-text" type="text" id="length-comment" placeholder="Additional comment regarding needle" id="length-comment"></textarea>
         </div>

         <div id="attempts-Title">
            <span> Attempts </span>
         </div>

         <div id="first-pass-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="scenario-check" type="checkbox" value="1" id="first-pass-check"><span> 1st Pass </span>
               </label>
            </div>
         </div>

         <div id="second-pass-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="scenario-check" type="checkbox" value="1" id="second-pass-check"><span> 2nd Pass </span>
               </label>
            </div>
         </div>

         <div id="over-2-passes-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="scenario-check" type="checkbox" value="1" id="over-2-passes-check"><span> >2 Passes </span>
               </label>
            </div>
         </div>

         <div id="agent-Title">
            <span> Agent </span>
         </div>

         <div id="lidocaine-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="lidocaine-check"><span> 1% lidocaine to skin </span>
               </label>
            </div>
         </div>

         <div id="bup-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="bup-check"><span> 0.5% hyperbaric bupivacaine </span>
               </label>
            </div>
         </div>

         <div id="bup-volume">
            <span> Volume (ml) </span>
         </div>

         <div id="bup-volume-field">
            <input  class="drug-number" type="number" id="bup-volume-entry" value="0" min="0" max="5" step="0.1"/>
         </div>

         <div id="bup-up-down">
            <button id="bup-up-button" onclick="extractionData.bupUp()"> <span> + </span> </button>
            <button id="bup-down-button" onclick="extractionData.bupDown()"> <span> - </span> </button>
         </div>

         <div id="diamorphine-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="agent scenario-check" type="checkbox" value="1" id="diamorphine-check"><span> Diamorphine </span>
               </label>
            </div>
         </div>

         <div id="diamorphine-dose">
            <span> Dose (mcg) </span>
         </div>

         <div id="diamorphine-dose-field">
            <input  class="drug-number"  type="number" id="diamorph-dose-entry" value="0" step="50" min="0" max="500"/>
         </div>

         <div id="diamorph-up-down">
            <button id="diamorph-up-button" onclick="extractionData.diamorphUp()"> <span>+</span></button>
            <button id="diamorph-down-button" onclick="extractionData.diamorphDown()"> <span>-</span></button>
         </div>

         <div id="spacer-one"> <br> </div>

         <div id="assessment-Title">
            <h6> Assessment </h6>
         </div>

         <div id="block-cold-Title">
            <span> Block to Cold </span>
         </div>

         <div id="coldt1-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="cold-block-level scenario-check" type="checkbox" value="1" id="coldt1-check"><span> T1 </span>
               </label>
            </div>
         </div>

         <div id="coldt2-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="cold-block-level scenario-check" type="checkbox" value="1" id="coldt2-check"><span> T2 </span>
               </label>
            </div>
         </div>

         <div id="coldt3-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="cold-block-level scenario-check" type="checkbox" value="1" id="coldt3-check"><span> T3 </span>
               </label>
            </div>
         </div>

         <div id="coldt4-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="cold-block-level scenario-check" type="checkbox" value="1" id="coldt4-check"><span> T4 </span>
               </label>
            </div>
         </div>

         <div id="coldt5-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="cold-block-level scenario-check" type="checkbox" value="1" id="coldt5-check"><span> T5 </span>
               </label>
            </div>
         </div>

         <div id="coldt6-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="cold-block-level scenario-check" type="checkbox" value="1" id="coldt6-check"><span> T6 </span>
               </label>
            </div>
         </div>

         <div id="coldt7-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="cold-block-level scenario-check" type="checkbox" value="1" id="coldt7-check"><span> T7 </span>
               </label>
            </div>
         </div>

         <div id="coldt8-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="cold-block-level scenario-check" type="checkbox" value="1" id="coldt8-check"><span> T8 </span>
               </label>
            </div>
         </div>

         <div id="coldt9-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="cold-block-level scenario-check" type="checkbox" value="1" id="coldt9-check"><span> T9 </span>
               </label>
            </div>
         </div>

         <div id="coldt10-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="cold-block-level scenario-check" type="checkbox" value="1" id="coldt10-check"><span> T10 </span>
               </label>
            </div>
         </div>

         <div id="block-touch-Title">
            <span> Block to light touch </span>
         </div>

         <div id="toucht1-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="touch-block-level scenario-check" type="checkbox" value="1" id="toucht1-check"><span> T1 </span>
               </label>
            </div>
         </div>

         <div id="toucht2-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="touch-block-level scenario-check" type="checkbox" value="1" id="toucht2-check"><span> T2 </span>
               </label>
            </div>
         </div>

         <div id="toucht3-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="touch-block-level scenario-check" type="checkbox" value="1" id="toucht3-check"><span> T3 </span>
               </label>
            </div>
         </div>

         <div id="toucht4-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="touch-block-level scenario-check" type="checkbox" value="1" id="toucht4-check"><span> T4 </span>
               </label>
            </div>
         </div>

         <div id="toucht5-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="touch-block-level scenario-check" type="checkbox" value="1" id="toucht5-check"><span> T5 </span>
               </label>
            </div>
         </div>

         <div id="toucht6-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="touch-block-level scenario-check" type="checkbox" value="1" id="toucht6-check"><span> T6 </span>
               </label>
            </div>
         </div>

         <div id="toucht7-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="touch-block-level scenario-check" type="checkbox" value="1" id="toucht7-check"><span> T7 </span>
               </label>
            </div>
         </div>

         <div id="toucht8-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="touch-block-level scenario-check" type="checkbox" value="1" id="toucht8-check"><span> T8 </span>
               </label>
            </div>
         </div>

         <div id="toucht9-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="touch-block-level scenario-check" type="checkbox" value="1" id="toucht9-check"><span> T9 </span>
               </label>
            </div>
         </div>

         <div id="toucht10-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="touch-block-level scenario-check" type="checkbox" value="1" id="toucht10-check"><span> T10 </span>
               </label>
            </div>
         </div>

         <div id="block-height-comment-text">
            <textarea class="comment-text" type="text" id="block-height-comment" placeholder="Comments"></textarea>
         </div>

         <div id="complications-Title">
            <h6> Complications </h6>
         </div>

         <div id="difficult-to-access-csf-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="scenario-check" type="checkbox" value="1" id="difficult-to-access-csf-check"><span> Difficult to Access CSF </span>
               </label>
            </div>
         </div>

         <div id="bloody-tap-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="scenario-check" type="checkbox" value="1" id="bloody-tap-check"><span> Bloody Tap </span>
               </label>
            </div>
         </div>

         <div id="transient-parasthesia-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="scenario-check" type="checkbox" value="1" id="transient-parasthesia-check"><span> Transient Parasthesia </span>
               </label>
            </div>
         </div>

         <div id="pain-during-neuraxial-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected scenario-check" type="checkbox" value="1" id="pain-during-neuraxial-check"><span> Pain during Neuraxial </span>
               </label>
            </div>
         </div>

         <div id="high-spinal-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected complication scenario-check" type="checkbox" value="1" id="high-spinal-check"><span> High Spinal </span>
               </label>
            </div>
         </div>

         <div id="profound-hypotension-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected complication scenario-check" type="checkbox" value="1" id="profound-hypotension-check"><span> Profound Hypotension </span>
               </label>
            </div>
         </div>

         <div id="well-tolerated-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="always-expected scenario-check" type="checkbox" value="1" id="well-tolerated-check"><span> Procedure well tolerated under block </span>
               </label>
            </div>
         </div>

         <div id="neuraxial-abandoned-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected scenario-check" type="checkbox" value="1" id="neuraxial-abandoned-check"><span> Neuraxial Abandoned </span>
               </label>
            </div>
         </div>

         <div id="pain-in-proc-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="not-expected scenario-check" type="checkbox" value="1" id="pain-in-proc-check"><span> pain during procedure </span>
               </label>
            </div>
         </div>

         <div id="failure-checkbox">
            <div class="cat checkSelect">
               <label>
                  <input class="complication scenario-check" type="checkbox" value="1" id="failure-check"><span> failure -> GA </span>
               </label>
            </div>
         </div>

         <div id="complications-comment-text">
            <textarea class="comment-text" type="text" id="complications-comment" placeholder="Complication Comments"></textarea>
         </div>


         <div id="additional-notes-Title">
            <h6> Additional Notes </h6>
         </div>

         <div id="add-notes-text">
            <textarea rows="3" cols="11" type="text" id="add-notes-comment" placeholder="Free Text"> </textarea>
         </div>

         <div id="submit-button">
            <button class="positive-button" onclick= "extractionData.submitButtonPressed()"> <span> Submit </span> </button>
         </div>

      </div>

   </div>



<div id="mask"></div>

<div id="entered-popup">
     <div id="page-output">
         <div id="Popup-Container">
            <div id="Content-Popup">

                  <h2>Confirm Submission</h2><br>
                  <h3>Neuraxial Anaesthesia - <span id="neuraxial-type"></span></h3>


                  <h4>Pre-Procedure</h4>
                     <p><span id="preprocedure-output"></span></p>

                  <h4>Anaesthetic Risk:</h4>
                  <p><span id="anaesthetic-risk-output"></span></p>

                  <h4>Block Details</h4>
                  <h4>Position:</h4>
                  <p><span id="position-output"></span><br>

                  <h4>Prep:</h4>
                  <p><span id="prep-output"></span></p><br>

                  <h4>Monitoring:</h4>
                  <p><span id="monitoring-output"></span></p><br>

                  <h4>Level Id:</h4>
                  <p><span id="level-id-output"></span></p>

                  <h4>Approach: </h4>
                  <p><span id="approach-output"></span></p>

                  <h4>Level:</h4>
                  <p><span id="level-output"></span></p>

                  <h4>Needle:</h4>
                  <p><span id="needle-output"></span></p>

                  <h4>Attempt:</h4>
                  <p><span id="attempt-output"></span></p><br>

                  <h4>Agents:</h4>
                  <p><span id="agent-output"></span></p><br>

                  <h4>Assessment:</h4>
                  <p><span id="assessment-output"></span></p>

                  <h4>Complications: </h4>
                  <p><span id="complications-output"></span></p> <br>

                  <h4>Additional Comments</h4>
                  <p><span id="additional-comments-output"></span></p>

                  <div id="popup-button-div">
                        <button class="negative-button" id="amend-button" onclick= "extractionData.amendButtonPressed()"> <span> Amend </span> </button>
                        <button class="positive-button" id="commit-button" onclick= "extractionData.commitButtonPressed()"> <span> Commit </span> </button>
                  </div>
            </div>
         </div>
   </div>




</div>


</body>
</html>