<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
   <script src="{{ url_for('static', filename='elementManager.js') }}"></script>
   <script src="{{ url_for('static', filename='extractionData.js') }}"></script>
   <script src="{{ url_for('static', filename='Popup.js') }}"></script>
   <script src="{{ url_for('static', filename='metrics.js') }}"></script>
   <script src="{{ url_for('static', filename='fieldStates.js') }}"></script>
   <script src="{{ url_for('static', filename='landingJS.js') }}"></script>
   <script src="{{ url_for('static', filename='main.js') }}"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript"></script>
   <title>Thank You</title>
</head>

<body>
    <div class="container">
      <div id="incomplete-thanks-Container">
         <div id="less-thanks-Text">
             <h2>Thank You</h2>

             <span>Thank you for considering participating in the study, if you later decide you would like to take part please revisit the site<br><br>

                 Matt Julian and Alan Davies (study team)</span><br><br>

            <h3>Contact Information</h3>
            <span>Matt Julian - matthewdavid.julian@postgrad.manchester.ac.uk </span> <br>
            <span>Alan Davies - alan.davies-2@manchester.ac.uk</span> <br>
            <span>Phone - +44 (0)161 275 5147</span>
         </div>



      </div>
    </div>


</body>

</html>